<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="refresh" content="10; URL=/secondDetection">
        <title>Document</title>
        <title>team-f</title>
        <style type="text/css">
        p{
            color: red;
            font-size: 20px;
        }
        </style>
    <body>
      <center>
        <h1><em>あなたの今の感情</em></h1>
        <hr>
        
        <span id="view_time"></span>取得（10秒ごとに更新されます）<br>
        <!-- 最上位の感情と割合 -->
        <h2>最上位の感情：{{ em[0][0] }} {{ em[1][0]|round(2) }}%</h2><br>
      </center>
<script type="text/javascript">
document.getElementById("view_time").innerHTML = getNow();
function getNow() {
  var now = new Date();
  var year = now.getFullYear();
  var mon = now.getMonth()+1; //１を足すこと
  var day = now.getDate();
  var hour = now.getHours();
  var min = now.getMinutes();
  var sec = now.getSeconds();
  //出力用
  var s = year + "年" + mon + "月" + day + "日" + hour + "時" + min + "分" + sec + "秒";
  return s;
}
</script>
  <canvas id="myPieChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script>
  
  // flaskから受け取った変数を反映
  let em_type_js = {{ em[0] | tojson }};
  let em_conf_js = {{ em[1] | tojson }};

  var color = {'穏やか':'#7fff00', '楽しい':'#ffff00', '悲しい':'#0000ff', '怒り':'#ff0000', '困惑':'#bdb76b', 'うんざり':'#00bfff', '怖い':'#800080', '驚き':'#ff8c00'};
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [em_type_js[0], em_type_js[1], em_type_js[2], em_type_js[3], em_type_js[4], em_type_js[5], em_type_js[6], em_type_js[7]],
      datasets: [{
          backgroundColor: [
          color[em_type_js[0]], 
          color[em_type_js[1]],
          color[em_type_js[2]], 
          color[em_type_js[3]], 
          color[em_type_js[4]], 
          color[em_type_js[5]], 
          color[em_type_js[6]], 
          color[em_type_js[7]]
          ],
          data: [em_conf_js[0], em_conf_js[1], em_conf_js[2], em_conf_js[3], em_conf_js[4], em_conf_js[5], em_conf_js[6], em_conf_js[7]]　//数値指定
      }]
    },
    options: {
      responsive: true,
      legend: {
        position: 'top'
      }      
    }
  });
  </script>
  <center>
    <P>カメラが起動中です</P>
  </center>
    </body>
</html>
